#yinyang{
    width:96px;
    box-sizing:content-box;
    height:48px;
    background: #eee;
    border-style:solid;
    border-width:2px 2px 50px 2px;
    border-radius:100%;
    position:relative;
}
#yinyang::before{
    content:"";
    position:absolute;
    background:#eee;
    border:18px solid black;
    border-radius:50%;
    width:12px;
    height:12px;
    box-sizing:content-box;
    top:50%;
}
#yinyang::after{
    content:"";
    position:absolute;
    background: black;
    border:18px solid #eee;
    border-radius:50%;
    width:12px;
    height:12px;
    box-sizing:content-box;
    top:50%;
    left:50%;
}


